<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.astek.asteksupport">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProfilCreationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InterviewContextActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BilanMissionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".EmployeeAppreciationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ManagerAppreciationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".TargetEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SkillEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.TechnicalSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.ProfessionSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.FunctionalSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.ManagerialSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.AutonomySkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.AdaptabilitySkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.CommunicationSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.CreativitySkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.ImplicationSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.RespectSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.RigourSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.behavioural.TeamWorkSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.OthersSkillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skill.EnglishSkillActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>